* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  text-transform: none;
  color: black;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}


.nav-wrapper{
  border-bottom: inset thin;
  line-height: 80px;
  
}
.main-navigation{
display: inline-block;
position: relative;
}

.user-actions{
  display: inline-block;
  margin:0 0 0 -25;
}
.main-navigation li {
  display: inline-block;
  margin: 0 25px;
}

.user-actions li {
  display: inline-block;
  margin-left: 50px;
}

.vv{
  background-image: url("images/basket.jpg");
  background-position: left;
  background-size: 50px;
}
.content h1{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 75px;

}
.content h2{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 35px;
}
.intro p{
  font-family: serif;
  color: grey;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 80px;
}
.signup p{
  font-family: serif;
  color: grey;
  font-style: italic;
  font-size: 20px;
}
.content{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;

}
 .emailtext {
  width:400px;
  height:45px;
  margin: 0 auto;
}
.emailButton{
  width:60px;
  height:45px;
  background-color: orange;
  color: white;
  border:none;
}
.searchbutton  {
  background-image:url("/images/button.png");
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  border: none;
}
.newarrivals {
  width:220px;
  height:60px;
  
  background-color: white;
  color: black;
  border: solid;
  border-width: 0.5px; 
  border-color: grey;
  text-transform: uppercase;
  font-size: 13px; 
  padding: 20px;
  text-align: center;
}
.content img{
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.collection {
  float: left;
  width: 25%;
  border-right: inset thin;
}
.collection:last-child li{
   display: inline-block;
  font-size: 1px;

}
.collection:last-child{
  border: none;
}

.collection:last-child p,h5{
  padding-left:40px;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix{
  border-top: inset thin;
  padding-top: 10px;
  font-size: 14px;
}
.socialmedia li{
  display: inline-block;
  font-size: 1px;
}

.clearfix h5{
  text-transform: uppercase;
  font-weight: bold;
}

.item a {
  width:220px;
  height:60px;
  background-color: white;
  border: solid;
  border-width: 0.5px; 
  border-color: grey;
  padding: 110px 90px;

  }
  .item{
    float: left;
    width: 25%;
    margin-top: 130px;
  }

  .men-content h1{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 35px;
  margin-bottom: -10px;

}
.men-content a {
 font-family: serif;
  color: grey;
  font-style: italic;
  font-size: 20px;
   text-decoration: underline;
  
  color: grey;
}
.men-content{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.clearfix-mencontent::before,
.clearfix-mencontent::after {
  content: "";
  display: table;
}

.model{
  margin-top: 50px;
  border-bottom: thin grey normal;
}

* ul{
  list-style: none;
}

